[submodule "online_marketplace_backend"]
	path = online_marketplace_backend
	url = https://github.com/TiagoLuz9292/online_marketplace_backend.git
[submodule "online_marketplace_frontend"]
	path = online_marketplace_frontend
	url = https://github.com/TiagoLuz9292/online_marketplace_frontend.git
[submodule "online_marketplace_infrastructure"]
	path = online_marketplace_infrastructure
	url = https://github.com/TiagoLuz9292/online_marketplace_infrastructure.git
